   <div class="bodyContainer">
  
        <img src="/images/beer.png" alt="beer" width="370px" height="410px">
        <a href="/beers" class="btn">Check the Beers!</a>
        <a href="/random-beer" class="btn">Check a Random Beer!</a>
    </div>